{% load static %}
<!doctype html>
<html lang="en">
    <head>
        {% include 'includes/head.html' %}
    </head>
    <body>
        {% include 'includes/menu.html' %}
        <!--================Home Banner Area =================-->
        {% block banner_area %}
        {% endblock %}
        <!--================End Home Banner Area =================-->
        {% block content %}
        {% endblock %}
        {% include 'includes/footer.html' %}
        {% block extra_scripts %}
        {% endblock %}
    </body>
</html>